# ML & Audio
torch>=2.5.1
torchaudio>=2.1.0
transformers>=4.35.0
openai-whisper>=20250625
ffmpeg-python<=0.2.0
pydub>=0.25.1

# Utilities
toml>=0.10.2
PyYAML>=6.0
rich>=14.1.0
sympy>=1.13.1

# Web / Streamlit
streamlit>=1.48.1
